.titulo {
    background-color: blueviolet;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto {
    background-color: aqua;
    font-size: 10px;
}

.image {
    width: auto;
    height: auto;
}